/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/


body {
	background-color: #c3c3c3;
}


#app {
	margin: 10px auto;
	width: 320px;
	height: 480px;
	border: 1px solid black;
}


.panels > * {
	width: 100%;
	background-color: #eaeaea;
}

.panel-border > * {
	box-shadow: -4px 0px 8px rgba(0,0,0,0.35);
	-moz-box-shadow: -4px 0px 8px rgba(0,0,0,0.35);
	-o-box-shadow: -4px 0px 8px rgba(0,0,0,0.35);
	-webkit-box-shadow: -4px 0px 12px rgba(0,0,0,0.4);
}

/* Toolbar menu */
.app-toolbar {
	border-bottom: 1px solid #3923d6;
	background-color: #2966B8;
}

.app-toolbar .icon {
	background-color: transparent;
	border: 0px;
	margin: 0;
	padding: 10px 12px;
}

.app-toolbar .icon img {
	width: 30px;
	height: 30px;
}

.app-toolbar .icon:active {
	background-color: #3923d6;
}

.app-toolbar {
}

.app-toolbar .title {
	color: #fff;
	text-align: center;
	line-height: 50px;
	border-left: 1px solid #3923d6;
	border-right: 1px solid #3923d6;
}

/*
@-ms-viewport {
    width: device-width;
    height: device-height;
    user-zoom: fixed;
    max-zoom: 1;
    min-zoom: 1;
}
*/

/* Toolbar */

.toolbar {
	border-top: 1px solid #333;
	background-color: #666;
	padding: 8px;
	height: 48px;
	line-height: 48px;
}

.toolbar button {
	border: 2px solid #fff;
	color: #fff;
	padding: 4px 7px;
	background-color: rgba(0, 0, 0, 0);
}