.categories-panel > * {
	width: 320px;
}

.panel-list-item {
	padding: 5px;
	border-bottom: 1px solid #666;
}

.categories-title {
	background-color: #aaa;
	text-align: center;
	line-height: 20px;
	height: 30px;
	max-height: 30px;
	padding: 5px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.categories-text-category {
	padding: 5px;
}

.categories-number-category {
	float: right;
	padding: 5px;
	margin: 0 5px;
	min-width: 25px;
	text-align: center;
	border-radius: 10px;
	background-color: #aaa;
}


/* Toolbar */
.backButton {
	min-width: 320px; 
	position:absolute; 
	bottom:0;
}
