.map-content {
	padding: 10px 5px;
}

.map-content .map-button {
	margin: 5px;
}

.map-button {
	background-color: rgba(30, 30, 30, 0.2);
	border: 2px solid transparent;
	border-radius: 2px;
	/*width: 35px;*/
	padding: 2px;
	/*height: 30px;*/
}

.map-button img {
	width: 30px;
	height: 30px;
}
