.menu-panel {
	background-color: #333;
	color: #eee;
	width: 250px;
}

.menu-header {
	width: 100%;
	height: 80px;
	background-color: green;
}

.menu-list-item {
	position: relative;
	border-bottom: 1px solid #0E0E0E;
	padding: 12px 16px;
	background-color: #333333;
}

.menu-list-item-thumbnail {
	float:left;
	width: 75px;
	height: 75px;
}

.menu-list-item-title {
	float:right;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}